<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Document</title>
    {% endblock title %}
</head>
<body>
    <nav>
        <a href="{% url 'about' %}">This is about page</a><br>
        <a href="{% url 'contact' %}">This is the contact page</a><br>
        <a href="{% url 'cart' %}">This is the cart page</a>
    </nav>

    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <footer>
        This is a footer
    </footer>
</body>
</html>
